* {
  /* animation-duration: 0s !important; */
  --antd-wave-shadow-color: none !important;
}

[ant-click-animating-without-extra-node]:after {
  animation: 0s !important;
}

.ant-btn:active,
.atn-btn:hover {
  border-color: none !important;
  outline: none !important;
}

.text-muted {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
  font-weight: 500;
}

.text-left {
  float: left;
  text-align: left;
}

.text-right {
  float: right;
  text-align: right;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
