.ModalBooking-Card {
  width: 350%;
  border: none;
}

.ModalBooking-InputMargin {
  margin-bottom: 2%;
}

.ModalBooking-ConfirmButton {
  box-shadow: none;
  border-radius: 11px;
  border-color: #005792;
  background-color: #005792;
  color: white;
}

.ModalBooking-CancelButton {
  box-shadow: none;
  border-radius: 11px;
  border-color: #005792;
  color: #005792;
}

.ModalBooking-Footer {
  margin-bottom: 10px;
}

.ModalBooking-icon {
  color: #005792;
  font-size: 24px;
}

.ModalBooking-icon_font {
  font-size: 24px;
}

.ModalBooking_font {
  font-size: 18px;
}

.ModalBooking2_font {
  font-size: 16px;
}
.ModalBooking-iconClock {
  color: #fcc400;
  font-size: 25px;
}

.ModalBooking3_font {
  font-size: 14px;
}

.ModalBooking-Margin {
  margin-bottom: 2%;
  width: 100%;
}

.ModalBooking-Margin2 {
  margin-bottom: 5%;
}

.ModalBooking-Margin3 {
  margin-bottom: 10%;
}

.ModalBooking-Center {
  display: flex;
  justify-content: center;
}

.ModalBooking-Top {
  top: 20px;
}
