.MaidCard-card {
  width: 175px;
  height: 240px;
  border-radius: 10px;
}

.MaidCard-card img {
  object-fit: cover;
  height: 142px;
}

.MaidCard-Row {
  position: relative;
  top: -5px;
}

.MaidCard-Rate {
  font-size: 12px;
}

.MaidCard-p {
  text-align: right;
  font-size: 12px;
}

.MaidCard-description {
  width: 100%;
}
