.BookingCard-Body {
  padding: 0px 0.5rem;
}

.BookingCard-BodyTop {
  padding: 0.5rem 0px;
  color: black;
}

.BookingCard-Date {
  padding-right: 0.5rem;
  line-height: 1;
}

.BookingCard-Month {
  font-size: 25px;
}

.BookingCard-Day {
  font-size: 50px;
}

.BookingCard-Details {
  padding-right: 0.5rem;
}

.BookingCard-Customer {
  font-size: 25px;
}

.BookingCard-Time {
  font-size: 16px;
}

.BookingCard-Address {
  padding-top: 5%;
  font-size: 10px;
}

.BookingCard-MaidPhoto {
  border-radius: 50%;
  width: 100%;
  max-width: 250px;
}

.BookingCard-HorizontalDivider {
  margin: 0px;
}

.BookingCard-BodyBottom {
  padding: 0.5rem 0px;
}

.BookingCard-Cancel {
  box-shadow: none;
  border: none;
  border-radius: 15px;
  margin-right: 0.5rem;
  background-color: #FF0000;
  color: white;
}

.BookingCard-Cancel:focus {
  color: #FF0000;
}

.BookingCard-Accept {
  box-shadow: none;
  border: none;
  border-radius: 15px;
  margin-right: 0.5rem;
  background-color: #005792;
  color: white;
}

.BookingCard-Accept:focus {
  color: #005792;
}

.BookingCard-CancelBooking {
  margin: 5px;
  border-radius: 80px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.BookingCard-type {
 padding: 78px 16px;
}

.BookingCard-Cancel-Detial {
  text-align: left;
  margin: 5px;
}
.BookingCard-Cancel-Hour {
  text-align: left;
  margin: 5px;
}

.BookingCard-Cancel-Description {
  margin-bottom: 10px;
  margin-top: 20px;
}

.BookingCard-submit {
  box-shadow: none;
  border: none;
  margin-right: 0.5rem;
  background-color: #005792;
  color: white;
}
