.BookingCard-Body {
  padding: 0 0.5rem;
}

.BookingCard-BodyTop {
  padding: 0.5rem 0;
  color: black;
}

.BookingCard-Date {
  padding-right: 0.5rem;
  line-height: 1;
}

.BookingCard-Month {
  font-size: 25px;
}

.BookingCard-Day {
  font-size: 50px;
}

.BookingCard-Details {
  padding-right: 0.5rem;
}

.BookingCard-Customer {
  font-size: 25px;
}

.BookingCard-Time {
  font-size: 16px;
}

.BookingCard-Address, .BookingCard-BuildingType {
  padding-top: 5%;
  font-size: 12px;
}

.BookingCard-MaidPhoto {
  border-radius: 50%;
  width: 100%;
  max-width: 250px;
}

.BookingCard-HorizontalDivider {
  margin: 0;
}

.BookingCard-BodyBottom {
  padding: 0.5rem 0;
}

.BookingCard-Cancel {
  box-shadow: none;
  border: none;
  border-radius: 15px;
  margin-right: 0.5rem;
  background-color: #ff0000;
  color: white;
}

.BookingCard-Cancel:focus {
  color: #ff0000;
}

.BookingCard-Accept {
  box-shadow: none;
  border: none;
  border-radius: 15px;
  margin-right: 0.5rem;
  background-color: #005792;
  color: white;
}

.BookingCard-Accept:focus {
  color: #005792;
}

.BookingCard-type {
  padding: 78px 16px;
}

.BookingCard-Status {
  width: 100%;
  height: 50px;
  margin-left: 8px;
}
