.MaidCardWeb-card {
  /* width: 545px;
  height: 330px; */
  border-radius: 10px;
}
.MaidCardWeb-card > div {
  /* border: 1px solid; */
  height: 100%;
}

.MaidCardWeb-card > div > div {
  /* border: 1px solid; */
  height: 100%;
}

.MaidCardWeb-card img.height {
  object-fit: cover;
  width: 165px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  /* height: 330px;  */
}

.MaidCardWeb-Row {
  /* position: relative; */
  top: 0px;
}

.MaidCardWeb-Rate {
  width: 135px;
  height: fit-content;
}

.MaidCardWeb-p {
  width: 20px;
  /* height: 0px; */
  /* text-align: right; */
}

.MaidCardWeb-description {
  width: 100%;
  font-size: 10px;
}

.bg {
  background-color: red;
}

.description {
  padding-top: 8px;
}

.MaidCardWeb-center {
  display: flex;
  align-items: flex-end;
}
